<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta name="copyright" content="Jeremy Hutchinson">
  <meta content="HucthCodes.net" property="og:site_name">
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@hutchcodes" />
  <meta name="twitter:title" content="{{page.title}}" />
  <meta name="twitter:description" content="{{page.twitterdesc | default: page.excerpt | truncate: 190}}" />
{% if page.twitterimg %}
  <meta name="twitter:image" content="twitterimg" />
{% endif %}
  <title>{{ site.title }}{% if page.title %} &mdash; {{ page.title }}{% endif %}</title>
  <link rel="author" href="https://plus.google.com/u/0/+JeremyHutchinsondev/posts"/>
  <link href="feed/index.html" type="application/rss+xml" rel="alternate" title="Blog Feed" />
  <style type="text/css">
    {% capture css %}
      {% include site.scss %}
    {% endcapture %}
    {{ css | scssify }}
  </style>
  <script>
    {% capture scripts %}
      {% include site.js %}
    {% endcapture %}
    {{ scripts | minify }}
  </script>
</head> 